/* Reset Style */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My Style*/

html {
  font-size: 16px;
}

body {
  background: #159957;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #155799, #159957);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card {
  align-content: space-between;
  text-align: left;
  background-color: white;
  border: 0.2rem solid black;
  margin:  2em;
  width: 20rem;
  height: 90%;
  border-radius: .5em;
  border: solid white 1em;
}

label {
  display: block;
  text-align: left;
}

label[for="text_area"] span {
  display: none;
}

label > span {
  display: inline-block;
  width: 60px;
  font-size: 1rem;
}

label[for="brand"] {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: 20rem;
}

textarea {
  box-sizing: border-box;
  width: 100%;
}

input {
  width: 50%;
  padding: .3em;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.1rem;
}

button[type="submit"] {
  width: 100%;
  padding: .5rem;
  font-size: 1.1rem;
  background-color: rgb(16, 230, 16);
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  border: 1px solid grey;
}

button[type="submit"]:hover {
  background-color: rgb(9, 172, 9);
}

.user-data li {
  text-align: left;
  margin: 1rem;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: .5rem;
  padding: 0.5rem;
}

.icons > div {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  padding: .5rem;
  cursor: pointer;
  border-radius: .5rem;
}
 
.icons > div:hover {
  background-color: hotpink;
} 
